.shadow-effect {
    background: #0D0D0D;
    padding: 20px;
    border-radius: 29% 71% 32% 68% / 59% 25% 75% 41% ;
    height: 342px;
    text-align: center;
    border: 1px solid rgb(27, 29, 40);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10), 0 15px 12px rgba(0, 0, 0, 0.02);
    transition: all .5s ease-in-out;
    font-size: x-large;
    font-weight: bold;
}
.shadow-effect:hover {
    transform: rotate(-30deg);

}

#customers-testimonials .shadow-effect p {
    font-family: inherit;
    font-size: 17px;
    line-height: 1.5;
    margin: 0 0 17px 0;
    font-weight: 300;
}

.testimonial-name {
    margin: -17px auto;
    display: table;
    width: auto;
    padding: 9px 35px 9px 120px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    font-size: x-small;
    font-weight: bold;
}

#customers-testimonials .item {
    text-align: center;
    padding: 50px;
    margin-bottom: 80px;
    opacity: .2;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#customers-testimonials .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
}

.owl-carousel .owl-item img {
    transform-style: preserve-3d;
    max-width: 90px;
    border-radius: 50%;
    margin: 0 auto 17px;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
    background: #5E28A7;
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}

#customers-testimonials.owl-carousel .owl-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
    background: #5E28A7;
    display: inline-block;
    height: 20px;
    margin: 0 2px 5px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
}


.owl-carousel {
    display: none;

    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
    display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block;
}

.owl-carousel.owl-hidden {
    opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
    display: none;
}

.owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel.owl-grab {
    cursor: move;
    cursor: grab;
}

.owl-carousel.owl-rtl {
    direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
    float: right;
}

/* No Js */
.no-js .owl-carousel {
    display: block;
}

.owl-carousel .animated {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
    z-index: 0;
}

.owl-carousel .owl-animated-out {
    z-index: 1;
}

.owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.owl-height {
    transition: height 500ms ease-in-out;

}

.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease;

}

.owl-carousel .owl-item img.owl-lazy {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

}

.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000;

}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url("owl.video.play.png") no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: -webkit-transform 100ms ease;

    transition: transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
    -webkit-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
    display: none;
}

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}


.sh-p {
    border-radius: 59% 41% 56% 44% / 41% 56% 44% 59% ;
    background-color: #5E28A7;
    box-shadow: 0 0 20px #5E28A766;
    height: 352px;
    transition: all .5s ease-in-out;
  }
  
  .sh-p:hover {
    box-shadow: 0 0 50px #5E28A766;
    height: 352px;
    scale: 1.05;
    transform: rotate(30deg);
  }


  @media only screen and (max-width: 480px) {
    .sh-p {
        border-radius: 59% 41% 56% 44% / 41% 56% 44% 59% ;
        background-color: #5E28A7;
        box-shadow: 0 0 20px #5E28A7;
        height: 372px;
        transition: all .5s ease-in-out;
        width: 320px;
    }
    .shadow-effect {
        height: 372px;
        width: 320px;
    }
    .item {
        margin-right: 30px;
        padding-right: 30px;
    }
 }

 .container {
    width: 100vw;
    padding: 2px 2px 2px 2px;
 }

 .btn-prnt {
    width: 100%;
    text-align: center;
}

.bla-btn {
    background: transparent;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgba(116, 16, 239, 0.926);
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: rgb(255, 255, 255);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
    margin: 20px 0px 20px 0px;
}
  
.bla-btn span {
    margin: 10px;
}
  
.bla-btn::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
}
  
.bla-btn:hover {
    color: #fff;
    border: 1px solid rgb(116, 16, 239);
    background-color: rgba(116, 16, 239, 0.298);
    transition: all 0.5s;
}
  


.menu li {
    display: block;
    height: 100%;
    
    
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    
    text-shadow: 0 0 15px #8e54e9; 
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.menu li:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    display: block;
    transition: all 0.3s ease;
    bottom: 25%;
}

.menu li a:visited {
    background-color: white;
    font-size:50px;
} 




.menu li:hover a:after {
    width: 100%;
}

.menu li.active a:after {
    width: 100%;
} 
 